@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline-style: none; */
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: middle;
	border: 0;
}

a {
	color: #777;
	text-decoration: none;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Pretendard', 'Malgun Gothic', 'Dotum', 'AppleGothic', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.45px;
	overflow-x: hidden;
}

/* 공통영역 */
.clearfix::after {
	content: '';
	position: relative;
	display: block;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inner {
	position: relative;
	display: block;
	width: 1200px;
	margin: 0 auto;
}



/* 전체영역 */
.wrap {
	position: relative;
	display: block;
}

/* 헤더 */
.header {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 70px;
	box-shadow: 0 2px 2px -1px rgb(0 0 0 / 10%);

	background-color: #fff;

	z-index: 999;
	overflow: hidden;
	transition: height 0.5s;
}

.logo-wrap {
	position: absolute;
	left: 40px;
	top: 15px;
	display: block;
	width: 228px;
	height: 33px;
	z-index: 9;
}

.logo-wrap a {
	position: relative;
	display: block;
	width: 178px;
	height: 24px;
	margin-top: 7px;
	font-size: 0;
}

.logo {
	background: url('../images/logo.svg') no-repeat center;
	background-size: contain;
}

.nav {
	position: relative;
	display: block;
}


.gnb {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #fff;
}

.gnb>li {
	position: relative;
	display: inline;
	width: 143px;
}

.gnb>li>a {
	position: relative;
	display: block;
	font-size: 18px;
	color: #3e3e3e;
	font-weight: 700;
	padding: 22px 0;
}

.gnb-img {
	position: relative;
	width: 22px;
	height: 22px;
}

.submenu{
	position: relative;
	display: block;
	width: 100vw;
	height: calc(100% - 70px);

}

.submenu li{
	position: relative;
	display: block;
	padding-bottom: 10px;
}
.submenu li a{
	position: relative;
	display: block;
	font-size: 18px;
	font-weight: 500;
}


.header-btn-list {
	position: absolute;
	right: 40px;
	top: 15px;
	display: block;
}

.header-btn-left {
	position: relative;
	display: block;
	min-width: 120px;
	min-height: 40px;
	float: left;

	font-size: 16px;
	font-weight: 700;
	font-family: 'Pretendard';

	color: #fff;
	background-color: #1c6eff;

	border-radius: 8px;
	border: 0;

}

.header-btn-right {
	position: relative;
	display: block;
	min-width: 120px;
	min-height: 40px;
	float: left;

	font-size: 16px;
	font-family: 'Pretendard';
	font-weight: 700;

	color: #7b87a0;
	background-color: #ebeff7;

	margin-left: 24px;
	border-radius: 8px;
	border: 0;
}


.gnb>li:hover .submenu{
	background-color: #fff;
}

.gnb>li:hover .mainmenu {
	
}



/* 비주얼 */
.visual {
	position: relative;
	display: block;
	background-color: #c8fcff;
	height: 720px;
	z-index: -1;
}

.visual .inner {
	position: relative;
	display: block;
}

.visual-left {
	position: relative;
	display: block;
}

.visual-div {
	position: relative;
	display: block;
	width: 460px;
	margin: 153px 0;
}

.visual-div h1 {
	position: relative;
	display: block;
	font-size: 64px;
	font-weight: 700;
	color: #232c3e;
	letter-spacing: -1px;
	margin-bottom: 72px;
	line-height: 1.2;
	text-align: left;

}

.visual-div a {
	position: relative;
	display: inline-block;
}

.visual-left-btn {
	position: relative;
	padding: 16px 25px;
	width: 210px;

	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #1c6eff;

	border-radius: 8px;
}

.visual-right-btn {
	position: relative;
	padding: 16px 25px;
	margin-left: 16px;
	width: 210px;

	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #1c6eff;
	background-color: #fff;

	border-radius: 8px;

}


.visual-right-img {
	background: url('../images/img_main.png') no-repeat center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 600px;
	display: block;
	width: 960px;
	height: 720px;
}

/* 배너 */
.banner {
	position: relative;
	display: block;
	/* height: 128px; */
	background-color: #f3feff;
	padding: 33px 53px;
}

.banner-list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.banner-list li {}

.banner-list li a {
	position: relative;
	display: block;
	width: 150px;
	height: 60px;
}

.banner-img1 {
	background: url('../images/img_skt_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img2 {
	background: url('../images/img_lgu_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img3 {
	background: url('../images/img_kakao_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img4 {
	background: url('../images/img_facebook_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img5 {
	background: url('../images/img_amorepacific_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img6 {
	background: url('../images/img_3M_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img7 {
	background: url('../images/img_zigzag_logo.png') no-repeat center;
	background-size: cover;
}

.banner-img8 {
	background: url('../images/img_hyperconnect_logo.png') no-repeat center;
	background-size: cover;
}


/* 카테고리 */
.category {
	position: relative;
	display: block;
	padding: 160px 0;
}

.category-inner {
	width: 1200px;
	margin: 0 auto;
}

.category .inner {
	display: flex;
	flex-wrap: wrap;
}

.category .inner>div {
	position: relative;
	display: flex;
	width: 50%;
	height: 480px;
	padding: 80px;
	align-content: center;
	flex-wrap: wrap;
}

.category h2 {
	position: relative;
	display: block;
	width: 716px;
	/* margin: 0 auto; */
	font-weight: 700;
	font-size: 4.2rem;
	line-height: 5.8rem;
	letter-spacing: -.6px;
	color: #3e3e3e;
	text-align: left;
}

.category .inner>div:nth-child(1) {
	background: url('../images/img_main_marketing.png') no-repeat center;
	background-size: cover;
}

.category .inner>div:nth-child(4) {
	background: url('../images/img_main_panel.png') no-repeat center;
	background-size: cover;
}

.category .inner>div:nth-child(5) {
	background: url('../images/img_main_ux.png') no-repeat center;
	background-size: cover;
}

.category .inner>div:nth-child(8) {
	background: url('../images/img_main_abroad.png') no-repeat center;
	background-size: cover;
}

.category-txt {
	position: relative;
	display: block;
}

.category-txt-title {
	position: relative;
	display: block;
	color: #3e3e3e;
	font-weight: 700;
	font-size: 32px;
	padding-bottom: 15px;
}

.category-txt-desc {
	position: relative;
	display: block;
	font-size: 20px;
	width: 100%;
}

.category-txt-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	color: #1c6eff;

	font-size: 22px;
	font-weight: 700;
}

.category-txt-btn img {
	position: relative;
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 12px;
}


/* 플랫폼 */
.platform {
	position: relative;
	display: block;
	background-color: #dff9fb;
}

.platform .inner {
	position: relative;
	display: block;
	padding: 160px 0;
}

.platform-title {
	position: relative;
	display: block;
}

.platform-title h2 {
	position: relative;
	display: block;
	width: 764px;
	letter-spacing: 1;
	font-size: 42px;
	font-weight: 700;
	color: #202020;
}

.platform-desc {
	position: relative;
	display: block;
	text-align: left;
	float: left;
}

.platform-desc .platform-top-img {
	display: inline-block;
	width: 660px;
	height: 520px;
	background: url('../images/img_main_survey.png') no-repeat center;
	background-size: cover;
}

.platform-btn-list {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* 플랫폼 버튼 리스트 상단 */
.platform-desc-list-top {
	position: relative;
	display: block;
	width: 468px;
	/* height: 298px; */
	background-color: #fafbff;

	border: 0;
	border-radius: 12px;
	padding: 12px 24px;
}

.platform-desc-list-top>p {
	position: relative;
	display: block;
	color: #343f55;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 12px;
}

.platform-btn-top {
	position: absolute;
	right: 30px;
	top: 20px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
	cursor: pointer;

}

.platform-desc-list-main-top {
	position: relative;
	display: block;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;
}

.platform-desc-list-main>span {
	position: relative;
	display: block;
	text-align: left;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.4rem;
	letter-spacing: -.4px;
	color: #1c6eff;
	margin-top: 24px;
	margin-bottom: 20px;
}

.platform-more-btn-top {
	position: relative;
	display: block;

	font-size: 20px;
	font-weight: 700;
	color: #1c6eff;
	margin-top: 24px;
	margin-bottom: 20px;
	cursor: pointer;
}

.more-btn-top {
	position: absolute;
	left: 110px;
	bottom: 0;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_forward_medium.png') no-repeat center;
	background-size: cover;
}

/* //플랫폼 버튼 리스트 상단 */


/* 플랫폼 버튼 리스트 중단 */
.platform-desc-list-middle {
	position: relative;
	display: inline-block;
	width: 468px;
	/* height: 298px; */
	/* background-color: #fafbff; */
	background-color: hsla(0, 0%, 100%, .6);

	border: 0;
	border-radius: 12px;
	padding: 12px 24px;
	margin-top: 16px;
}

.platform-desc-list-middle:hover{
	background-color: #fafbff;

}

.platform-desc-list-middle>p {
	position: relative;
	display: block;
	color: #7b87a0;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 12px;

}

.platform-btn-middle {
	position: absolute;
	right: 30px;
	top: 17px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
	transform: rotate(90deg);
	cursor: pointer;

}


.platform-desc-list-main-middle {
	position: relative;
	display: none;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;
}

.platform-more-btn-middle {
	position: relative;
	display: block;

	font-size: 20px;
	font-weight: 700;
	color: #1c6eff;
	margin-top: 24px;
	margin-bottom: 20px;
	cursor: pointer;

}

.more-btn-middle {
	position: absolute;
	left: 110px;
	bottom: 0;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_forward_medium.png') no-repeat center;
	background-size: cover;
}

/* //플랫폼 버튼 리스트 중단 */



/* 플랫폼 버튼 리스트 하단 */
.platform-desc-list-bottom {
	position: relative;
	display: inline-block;
	width: 468px;
	/* height: 298px; */
	/* background-color: #fafbff; */
	background-color: hsla(0, 0%, 100%, .6);
	border: 0;
	border-radius: 12px;
	padding: 12px 24px;
	margin-top: 16px;
}


.platform-desc-list-bottom:hover{
	background-color: #fafbff;
}
.platform-desc-list-bottom>p {
	position: relative;
	display: block;
	color: #7b87a0;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 12px;

}

.platform-btn-bottom {
	position: absolute;
	right: 30px;
	top: 17px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
	transform: rotate(90deg);
	cursor: pointer;

}

.platform-desc-list-main-bottom {
	position: relative;
	display: none;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;
}

.platform-more-btn-bottom {
	position: relative;
	display: block;

	font-size: 20px;
	font-weight: 700;
	color: #1c6eff;
	margin-top: 24px;
	margin-bottom: 20px;
	cursor: pointer;

}

.more-btn-bottom {
	position: absolute;
	left: 110px;
	bottom: 0;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_forward_medium.png') no-repeat center;
	background-size: cover;
}

/* //플랫폼 버튼 리스트 하단 */

/* 클릭시 클로스 */
.platform-desc-list-main-top-open {
	position: relative;
	display: none;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;
}

.platform-desc .platform-top-img-close {
	display: none;
	width: 660px;
	height: 520px;
	background: url('../images/img_main_survey.png') no-repeat center;
	background-size: cover;
}

.platform-btn-top-close {
	position: absolute;
	right: 30px;
	top: 20px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
	transform: rotate(90deg);
}

.platform-desc-list-main-middle-close{
	
}


/* 클릭시 오픈 */




.platform-desc-list-main-middle-open {
	position: relative;
	display: block;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;
}

.platform-desc .platform-middle-img-open {
	display: inline-block;
	width: 660px;
	height: 520px;
	background: url('../images/img_main_app.png') no-repeat center;
	background-size: cover;
}

.platform-btn-middle-open {
	position: absolute;
	right: 30px;
	top: 20px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
}

.platform-desc-list-main-bottom-open {
	position: relative;
	display: block;
	font-size: 20px;
	text-align: left;
	color: #3e3e3e;
	border-top: 2px solid #bcc3d5;
	padding-top: 24px;
	line-height: 3.2rem;

}
.platform-desc .platform-bottom-img-open {
	display: inline-block;
	width: 660px;
	height: 520px;
	background: url('../images/img_main_platform.png') no-repeat center;
	background-size: cover;
}

.platform-btn-bottom-open {
	position: absolute;
	right: 30px;
	top: 20px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/ic_chevron_up.png') no-repeat center;
	background-size: cover;
}



/* 레포트 */
.report {
	position: relative;
	display: block;
	padding: 160px 0;
}

.report .inner{
	position: relative;
	display: block;
}

.report-title{
	position: relative;
	display: block;
}
.report-title h2{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	max-width: 710px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.8rem;
    color: #3e3e3e;
}
.report-title a{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	padding: 12px 20px;
	
	font-size: 20px;
	font-weight: 700;
	color: #1c6eff;
	background: #ebf2ff;

	border-radius: 15px;
}

.report-title a::after{
	content: '';
	position: relative;
	display: block;
	float: right;
	margin-left: 12px;
	margin-top: 2px;
	width: 24px;
	height: 24px;

	background: url('../images/ic_forward_medium.png') no-repeat center;
	background-size: cover;
}



/* 데이터 */
.data {
	position: relative;
	display: block;
}

/* 슬라이드 */
.slide {
	position: relative;
	display: block;
}

/* 문의 */
.require {
	position: relative;
	display: block;
}

/* 푸터 */
.footer {
	position: relative;
	display: block;
}